/* Add a black background color to the top navigation */
.footer {
  background-color: #367e7f;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.footer a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.footer a:hover {
  color: #580749;
}

/* Add a color to the active/current link */
.footer a.active {
  color: #f2f2f2;
}

/* Right-aligned section inside the top navigation */
.footer-right {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
