.topnav {
  overflow: hidden;
  background-color: #367e7f;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  color: #580749;
}

.topnav-right {
  float: right;
}
