/* .topnav {
  overflow: hidden;
  background-color: #367e7f;

} */

/* .topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
} */

/* .topnav a:hover {
  color: #580749;
}  */

/* .topnav-right {
  float: right;
}   */

/* Style the navigation menu */
.topnav {
  /* overflow: hidden; */
  background-color: #367e7f;
  display: flex;
  justify-content: space-between;
}

/* Hide the links inside the navigation menu (except for logo/home) */
/* .topnav #myLinks {
  display: none;
}  */

/* Style navigation menu links */
/* .topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}  */

/* Style the hamburger menu */
.topnav-right {
  background: #d78077;
  border-color: #d78077;
  /* display: block;
  position: absolute;
  right: 0;
  top: 0; */
}

#menu-button-4 {
  border-color: #d78077;
  background: #d78077;
  border-radius: 0px;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ab4b8b;
  color: white;
  padding: 10px;
}

/* .button {
  background-color: #D78077;
} */
